<div
  class="icon-wrapper" 
  id="<%= iconWrapperId %>"
>
  <img
    src="<%= iconSrc %>"
    alt="<%= iconAlt %>"
    class="<%= iconClass %>"
    id="<%= iconId %>"
    title="<%= iconTitle %>"
    loading="lazy"
    decoding="async"
  />
</div>